.stickyWrapper {
  display: none;
  position: absolute;
  background-color: yellow;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  box-shadow: 3px 5px 3px 3px rgb(0 0 0 / 30%);
  font-family: "Comic Sans MS", "ComicSansMS", "MarkerFelt", "MarkerFelt-Thin", "Helvetica Neue Rounded", "Helvetica Rounded", "Helvetica Neue", sans-serif;
  font-size: 28px;
  padding: 5px;
  overflow: hidden;
}
.stickyClose {
  float: right;
  display: block;
  background-color: yellow;
  margin: 5px 5px 0 0;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  box-shadow: none;
  padding: 0;
  min-width: 0;
}
.stickyClose:not(:disabled):active {
  padding: 0;
  box-shadow: none;
}
.stickyClose:focus {
  outline: none;
}
.stickyNote {
  margin-top: 45px;
  display: block;
}
.draggableArea {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}